@import "../../../node_modules/foundation-sites/scss/settings/_settings";

@import "_colors";

@import "topbar";

@import "login";

@import "egressos";

@import "/vendor/unisharp/laravel-ckeditor/contents.css";

@import "../../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);
@include foundation-everything($prototype: true);

@import "../../../public/foundation-icons/foundation-icons.css"