.container {
    max-width: 80%;
    min-width: 50%;
    min-height: 500px;
    margin: auto;
}

.footer {
    background: #EEE;
    color: gray;
    font-size: x-small;
    text-align: center;
    
    a {
        text-decoration-color: none;
        color: inherit;
    }
}

.footer-polos {
    max-width: 80%;
    margin: auto;

    font-size: x-small;
    color: gray;

    a {
        text-decoration-color: none;
        color: inherit;
    }
}

.long-text-justify {
    text-align: justify;
    width: 80%;
    margin: auto;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-name-input {
    margin: 10px;
    vertical-align: super;
    font-size: medium;
}

.detail-user-container {
    max-width: 65%;
    padding: 15px;

    a {
        text-decoration-color: none;
        color: inherit;
    }
}

.detail-user-card {
    margin-left: 25px;
    margin-right: 25px;
}

.detail-user-foot-info {
    padding: 15px;
    color: grey;
}
